@{
    ViewBag.Title = "Ti Capital Humano";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Ti capital Humano</h1>
        <p class="lead">Sistema de control escolar</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Saber más de tich &raquo;</a></p>
    </section>


</main>