<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="InstitutoConeccion"
			 connectionString="Data Source=VICTORHUGO; Initial Catalog=InstitutoTich3;User ID=SA; password=1234"
			 providerName="System.Data.sqlClient" />
	</connectionStrings>	
	
</configuration>